html,body{
 margin:0;
 padding:0;   
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 background: url('../images/img3.jpg') no-repeat top center;
 background-size: cover;
 height: 100vh;
 position: relative;
 color: white;
}
.center-text{
    text-align: center;
}
.form-main{
    width: 350px;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
    color: #333;
    margin-top: 140px;
    text-align: center;
}
.form-title{
    background-color: #f5f5f5;
    color: #333;
    padding: 18px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 20px;
}
.form-entities{
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 80%;
    margin: 0 auto 40px;
}
.form-btn{
    background-color: #f5f5f5;
    color: black;
    width: 100%;
    padding: 15px 0;
    font-weight: bold;
    border-radius: 0;
}
.result-main{
    margin-top: 250px;
    color: white;
}
.main-result{
    margin-top: 260px;
    
}